
<form role="form" class="form-horizontal">
	<div class="row">
		&nbsp;
	</div>


	<div class="form-group">
		<label class="control-label col-sm-3" for="partnr">Part Number</label>
		<div class="col-sm-9">
			<input type="text" class="form-control" id="partnr" 
				ng-model="part.partnr">
		</div>
	</div>

	<div class="form-group">
		<label class="control-label col-sm-3" for="ordernr">Order Number</label>
		<div class="col-sm-9">
			<input type="text" class="form-control" id="ordernr" 
				ng-model="part.ordernr">
		</div>
	</div>



	<div class="form-group">
		<label class="control-label col-sm-3" for="description">Description</label>
		<div class="col-sm-9">
			<input type="text" class="form-control" id="description" 
				ng-model="part.description[0].de_DE">
		</div>
	</div>

	<div class="form-group">
		<label class="control-label col-sm-3" for="note">Note</label>
		<div class="col-sm-9">
			<textarea type="text" class="form-control" id="note" 
				ng-model="part.note.de_DE" rows="4">
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-9">
			<button ng-click="savePart()" type="button" class="btn btn-primary">Save</button>
		</div>
	</div>

</form>

