



<h3>{{part.partnr}}</h3>



<form name="form" class="form-horizontal">


<div class="btn-group">
	<button ng-click="savePart()" ng-disabled="!form.$dirty" type="button" class="btn btn-block btn-primary">Save</button>
<!--
	<div class="col-sm-2">
		<button ng-click="copyPart()" type="button" class="btn btn-block btn-default">Duplicate</button>
	</div>
	-->
	<button ng-click="deletePart()" type="button" class="btn btn-block btn-danger epl-btn-dimmer">Delete</button>
</div>

<accordion class="accordion" close-others="oneAtATime">
    <accordion-group ng-repeat="group in groups" is-open="status.isOpen[$index]" >
        <accordion-heading>
            {{group.groupTitle}} <i class="fa chevron-icon" ng-class="{'fa-chevron-down': status.isOpen[$index], 'fa-chevron-right': !status.isOpen[$index]}"></i>
        </accordion-heading>
        <div ng-include="group.templateUrl"></div>
    </accordion-group>
</accordion>
<!--

<uib-tabset>
<uib-tab heading="common" ui-sref="edit.common"></uib-tab>
<uib-tab heading="technical" ui-sref="edit.technical"></uib-tab>
</uib-tabset>
<div class="row">
	&nbsp;
</div>
<div ui-view="editcontent"></div>
-->

