body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.part-row .controls {
	opacity: 0.2;
}

.part-row > .controls:hover  {
	opacity: 1.0;
}

