body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.search {
	margin: 10px;
}

a {
  color: #00B7FF;
}
.epl-btn-dimmer {
	opacity: 0.2;
}

.epl-btn-dimmer:hover  {
	opacity: 1.0;
}

.part-btn-save {
	opacity: 0.2;
}

.dimmed {
	opacity: 0.2;
}