body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.tb-margin {
  margin-top: 5px;
	margin-bottom: 10px;
}

a {
  color: #00B7FF;
}
.epl-btn-dimmer {
	opacity: 0.2;
}

.epl-btn-dimmer:hover  {
	opacity: 1.0;
}

.part-btn-save {
	opacity: 0.2;
}

.dimmed {
	opacity: 0.2;
}

.scrollable-menu {
    height: auto;
    max-height: 70vh;
    overflow-x: hidden;
}